h3 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 50px;
}

h5 {
    margin-top:0;
    color: rgb(102, 100, 100);
}

h4 {
    margin-bottom: 0;

}
img {
    margin-top: 50px;
    margin-left: 50px;
}

div {
    
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 500px;
    padding-right: 500px;
}

main {
    background-color: rgb(252, 252, 252);
    border-width: 2px;
    border-color: rgb(198, 198, 245);
    border-style: solid;
    
    
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-left: 50px;
}

h5{
    margin-left: 50px;
}


p{
    margin-left: 50px;
}


